body {
    background-color: #993232;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}


header{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
    position:relative;
    text-align:left;
    top: 5px;
    margin-top:0px;
    padding: 20px 0;
    width: 80%;
}
.border{
    height:20px;
    width: 100%;
    background-color: black;
    position: absolute;
    left: 0;
    
}
.top_border{
    top:0;
}
.bottom_border{
    bottom:-20px;
}


.first{
    background-color: #f9f8fa;
    width: 90%;
    min-height: 75%;
    max-width: 1500px;
    max-height: 1500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: 5%;
    margin-top: -100px;
    padding: 20px;
    box-sizing: border-box;

}


table {
    width: 100%;
    border-collapse: collapse;    
    padding-bottom: 5px ;
    margin-bottom: 10px;
    table-layout: fixed;
}
h3{
    color:#931f32;
}
.final{
    color: #931f32;
    font: 'Times New Roman';
    font-weight: bold;
    font-size: 20px;
}

.btn_add_activity{
    background-color: #c8cac8;
    padding: 10px 0;
    margin-top: 1%;

}
.second{
    background-color: rgb(223, 244, 250);
    width: 75%;
    height: 70%;
    margin-top: 50px;
    max-height: 1500px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}
.left_side
{
    background-color: #9c2a3d;
    text-align: right;
    color: white;
    position: absolute;
    top: 90%;
    right: 35%;
    display: flex;
    flex-direction: column;
}

.right_side
{
    background-color: #9c2a3d;
    text-align: right;
    color: white;
    position: absolute;
    top: 90%;
    right: 27%;
    display: flex;
    flex-direction: column;

}


th,td{
    padding: 10px;
    text-align: left;
    border: 2px solid #a7a7a7;
}

th {
    background-color: #c8cac8;
    margin-top: 20%;
}

input_td[type="text"], input[type="number"] , input[type="number"] {
    width: 30%;
    padding: 2px;
    box-sizing: border-box;
}

.btn {
    background-color: #9e1b32;
    color: white;
    padding: 0px 20px;
    border: none;
    cursor: pointer;
    margin: 10px 5px 10px 0;

}

.btn:hover {
    background-color: #7c1526;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    color: #9e1b32;
}